<template>
<div class="root">
  <div class="text-center">
    <br /><br /><br /><br /><br />
    <form class="form-signin" method="post">
      <img class="mb-4" src="~/assets/img/logo.png" alt="" width="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" ref="email" id="inputEmail" class="form-control" placeholder="Email address" value="" autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" ref="password" name="password" id="inputPassword" class="form-control" placeholder="Password" value="">

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="button" v-on:click="login()">Sign in</button>
      <br /><br /><br /><br />
    </form>
  </div>
  <div v-if="showModal">
    <div class="modal fade show" id="loginFailed" tabindex="-1" role="dialog" style="display: block; margin-top: 25vh;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login {{ loginStatus }}</h5>
            <button type="button" class="close" data-dismiss="modal" @click="showModal = false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ loginMessage }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="showModal = false">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show"></div>
  </div>
</div>
</template>

<script>
export default {
  name: 'NuxtTutorial',
  data() {
    return {
      email: null,
      password: null,
      showModal: false,
      loginStatus: null,
      loginMessage: null,
    }
  },
  methods: {
    login() {
      //this.email = this.$refs.email.value;
      //this.password = this.$refs.password.value;
      if(this.$refs.email.value == "" || this.$refs.password.value == ""){
        this.showModal = true;
        this.loginStatus = "Gagal";
        this.loginMessage = "User ID dan atau Password anda belum diisi.";
      }else{
        this.showModal = true;
        this.loginStatus = "Berhasil";
        this.loginMessage = "Login berhasil";
        this.$nuxt.$options.router.push("dashboard");
      }
    },
  }
}
</script>

<style>
html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  background: url("~assets/img/header-splash.png");
  background-size: cover;
}

.modal-content{
  background-image: url("~assets/img/header-login.png");
  background-repeat: no-repeat;
}

.form-signin {
  width: 330px;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 2px #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  background-image: url("~assets/img/footer-splash.png");
  background-position: bottom;
  background-repeat: no-repeat;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>